<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Fakebook</title>
    <link rel="stylesheets" href="top.scss">
</head>
<body>
  <section class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
  </section>
</body>
</html>
