<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>ブログを作成する</h2>
    <!-- 部分テンプレート、共通のビューの表示,パーシャルというらしい-->
    <!--（呼び出される側） app/views/blogs/_form.html.erb-->
    <%= render 'form' %>
  </div>
</div>
